.menu-item-name {
  color: #ecf0f1;
}

.navbar-default {
  background-color: #bdc3c7;
  color: #e74c3c;
}
.navbar-default li a {
  color: #9b59b6;
}
section:nth-child(1) {
  background-color: #e67e22;
  padding: 10px;
  margin-bottom: 10px;
}
